* {
  margin: 0;
  font-family: tahoma;
}

html {
  background-color: #a4bfeb;
}

.heading {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }
}
